@charset "UTF-8";
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
p,
a,
image {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/*头部栏*/
.toumu {
  width: 100%;
  height: 36px;
  background-color: #333;
  line-height: 36px;
  font-size: 12px;
  min-width: 1224px;
}

.toumu-box {
  width: 1090px;
  margin: 0 auto;
}

.toumu a {
  color: #ccc;
}

.toumu-left {
  float: left;
}

.toumu-right {
  float: right;
}

.first-a {
  margin-right: 10px;
}

.first-a ~ a::after {
  content: "|";
  color: #5c5c5c;
  margin: 0 8px;
}

a:last-child::after {
  content: "";
}

.toumu-right a:hover {
  color: #fff;
}

.fuwu {
  position: relative;
  display: inline-block;
  z-index: 99999;
}

.fuwu::after {
  content: "|";
  margin: 0 8px;
  color: #5c5c5c;
}

.yincang {
  position: absolute;
  left: 0;
  top: 35px;
  background-color: #fff;
  width: 70px;
  text-align: center;
}

.yincang a {
  color: #999;
}

.yincang a:hover {
  color: #b4a078;
}

.yincang li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.yincang li:last-child {
  border-bottom: none;
  margin: 0;
}

.xin {
  position: absolute;
  top: -10px;
  left: 28px;
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
}

.yincang {
  display: none;
}

.erweima {
  display: inline-block;
  position: relative;
}

.app {
  position: absolute;
  display: none;
  z-index: 2;
  left: -30px;
  top: 38px;
}

.san {
  position: absolute;
  top: -12px;
  left: 50px;
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
}

/*end*/
/*头目*/
.lanmu-image {
  width: 430px;
  height: 123px;
  margin: 0 auto;
}

.lanmu-title {
  height: 50px;
  font-size: 14px;
  font-weight: bold;
}

.lanmu-title a:hover {
  color: #b4a078;
  border-bottom: 2px solid #b4a078;
}

.lanmu-title a {
  color: #333;
}

.shouye a {
  border-bottom: 2px solid #b4a078;
}

.da-box {
  border-bottom: 1px solid #ddd;
}

.shousuo {
  position: relative;
}

.focus-xianshi {
  position: absolute;
  left: 800px;
  top: -30px;
  display: none;
  z-index: 2;
  width: 180px;
  height: 160px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.dajiazai ~ li:hover {
  background-color: #f4f0ea;
}

.focus-xianshi li {
  margin-top: 5px;
  font-size: 14px;
}

.toumu-box input {
  position: relative;
  outline: none;
  left: 800px;
  top: -50px;
  border: none;
  width: 225px;
  border-bottom: 1px solid #b4a078;
}

.shousuo .iconfont {
  position: relative;
  left: 800px;
  top: -45px;
  font-size: 20px;
  color: #b4a078;
  margin-right: 10px;
}

.lanmu-title li {
  float: left;
  padding-right: 50px;
  padding-bottom: 30px;
}

/*end*/
/*固定定位*/
.right-gd {
  height: 400px;
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 150px;
  z-index: 9;
}

.right-gd div + div {
  position: relative;
  width: 72px;
  height: 82px;
  background-color: #fff;
  color: #666;
  border-bottom: 1px solid #ddd;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  padding-top: 14px;
}

.right-gd i {
  font-size: 40px;
}

/*end*/
/*头部定位*/
.dinwei-box {
  position: fixed;
  top: 0;
  z-index: 8;
  height: 60px;
  display: none;
  width: 1424px;
  min-width: 1224px;
  line-height: 60px;
  background-color: #fff;
}

.dinwei-box li {
  margin-bottom: 0;
}

/*end*/
/*选项卡*/
.item li {
  float: left;
  margin: 0 40px;
}

.menu-detail {
  position: absolute;
  top: 233px;
  z-index: 2;
  height: 150px;
  max-height: 200px;
  width: 100%;
  display: none;
  background-color: #fff;
}

.menu-detail .container {
  width: 1090px;
  margin: 0 auto;
}

/*end*/
/*轮播*/
.lunbo {
  position: relative;
  clear: both;
  height: 420px;
  min-width: 1224px;
}

.lunbo-tu {
  min-width: 1224px;
}

.lunbo-tu li {
  position: absolute;
  left: 0;
  top: 0;
  height: 420px;
  margin: 0 auto;
  display: none;
}

.lunbo-tu img {
  width: 100%;
  height: 420px;
}

.lunbo-tu li.lunbo-first {
  display: block;
}

.lunbo-left {
  position: absolute;
  left: 106px;
  top: 185px;
  width: 50px;
  height: 50px;
  background-color: #d0c4af;
  border-radius: 50%;
}

.lunbo-right {
  position: absolute;
  top: 185px;
  right: 106px;
  width: 50px;
  height: 50px;
  background-color: #d0c4af;
  border-radius: 50%;
}

.lunbo-xulie li {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  margin-right: 15px;
}

.lunbo-xulie {
  position: absolute;
  left: 650px;
  top: 400px;
}

.lunbo-xulie li.active {
  background-color: #a7936e;
  box-shadow: 0px 0px 0px 5px #dfcead;
}

.lunbo .iconfont {
  line-height: 50px;
  margin-left: 16px;
  font-size: 20px;
}

/*end*/
/*品牌制造商*/
.shop {
  margin: 20px 0;
}

.shop h3 {
  font-size: 30px;
  display: inline-block;
}

.shop p {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
}

.shop-right {
  float: right;
  font-size: 14px;
  line-height: 40px;
}

.shop-right a {
  color: #666;
}

.shop-img li {
  float: left;
  margin-right: 6px;
}

.shop-img {
  height: 320px;
}

.shop-position {
  position: relative;
  text-align: center;
}

.nvxie {
  margin-bottom: 6px;
  position: relative;
}

.shop-shuoming {
  height: 100px;
  position: absolute;
  top: 50px;
  left: 134px;
}

.shop-shuoming h3 {
  margin-bottom: 30px;
  font-size: 20px;
  color: #666;
}

.shop-shuoming span {
  margin: 20px;
  padding-top: 10px;
  color: #666;
  border-top: 1px solid #666;
}

.shangxin {
  font-size: 12px;
  width: 32px;
  height: 21px;
  position: absolute;
  left: 250px;
  top: 45px;
  color: #fff;
  background: url(../images/xin.png) center no-repeat;
}

.shop-img li {
  overflow: hidden;
}

.shop-img img:hover {
  transform: scale(1.1);
}

.shop-img li img {
  transition: transform 2s;
}

.nine {
  position: absolute;
  left: 20px;
  top: 30px;
  z-index: 2;
  color: #666;
}

.nine h3 {
  margin-bottom: 20px;
}

.nine span {
  padding-top: 10px;
  border-top: 1px solid #666;
}

/*end*/
/*新品首发*/
.toumu-a {
  width: 1090px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 40px;
}

.img-lunbo {
  width: 9999999999999999px;
  position: relative;
  height: 400px;
  z-index: -1;
}

.img-lunbo li {
  padding: 0 10px;
  float: left;
}

.left {
  font-size: 20px;
  position: absolute;
  top: 1200px;
  left: 140px;
  width: 50px;
  margin-top: 80px;
  height: 50px;
  border-radius: 50%;
  background-color: #b4a078;
  text-align: center;
  line-height: 50px;
}

.right {
  font-size: 20px;
  position: absolute;
  top: 1200px;
  right: 140px;
  margin-top: 80px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #b4a078;
}

.wenzi {
  text-align: center;
}

.wenzi h4 {
  font-size: 14px;
}

.jiage {
  font-size: 12px;
  color: #d4282d;
}

.jiage::after {
  content: "|";
  margin: 0 8px;
  color: #999;
}

.jiage ~ span {
  font-size: 12px;
  color: #999;
}

.fuzhu {
  font-size: 14px;
  color: #fff;
  background-color: #d4282d;
}

.fuzhu {
  height: 21px;
  display: inline-block;
}

/*end*/
/*人气推荐*/
.renqi-box {
  background-color: #f4f0ea;
  min-width: 1224px;
}

.tuijian h3 {
  display: inline-block;
}

.datu {
  width: 390px;
  height: 530px;
  background-color: #fff;
}

.xulie li {
  float: left;
}

.xulie {
  height: 530px;
  padding-bottom: 60px;
}

.datu ~ li {
  width: 222px;
  height: 260px;
  margin-left: 10px;
  background-color: #fff;
}

.xiaotu ~ li {
  margin-top: 10px;
}

.fuji {
  position: relative;
}

.kexuan {
  position: absolute;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #b3a07d;
  color: #b3a07d;
  font-size: 12px;
  background-color: #f4f0ea;
  width: 50px;
  height: 20px;
}

.renqi-box .toumu-box {
  overflow: hidden;
}

.tuijian {
  margin-top: 40px;
  margin-bottom: 20px;
}

.tuijian h3 {
  font-size: 30px;
}

.tuijian span {
  font-size: 14px;
  margin-left: 30px;
}

.bianji {
  border-bottom: 2px solid #b4a078;
  color: #b4a078;
}

.right-tuijian {
  line-height: 40px;
  float: right;
}

.right-tuijian a {
  color: #666;
}

.dianzi {
  width: 320px;
  height: 400px;
  margin: 0 auto;
}

.xiaotu-box {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  overflow: hidden;
}

.dianzi img:hover {
  transform: scale(1.1);
}

.dianzi img {
  transition: transform 2S;
}

.xiaotu-box img:hover {
  transform: scale(1.1);
}

.xiaotu-box img {
  transition: transform 2S;
}

.abmian {
  text-align: center;
  border-top: 1px solid #f4f0ea;
}

.abmian p {
  margin-top: 20px;
  color: #d4282d;
}

.abmian .fuzhu {
  background-color: #fff;
}

.abmian span {
  background-color: #f28f2d;
  margin: 0 5px;
}

.yashua {
  text-align: center;
  border-top: 1px solid #f4f0ea;
}

.yashua h4 {
  font-size: 14px;
}

.yashua p {
  font-size: 12px;
  color: #d4282d;
  margin-top: 10px;
}

/*end*/
/*限时购*/
.xianshi {
  margin-top: 40px;
  margin-bottom: 20px;
}

.xianshi h3 {
  font-size: 30px;
  display: inline-block;
}

.xianshi span {
  float: right;
  line-height: 40px;
  font-size: 14px;
}

.xianshi a {
  color: #999;
}

.jishi {
  width: 224px;
  height: 377px;
  background-color: red;
  background: url(../images/9.jpg) no-repeat;
}

.xiangou li {
  float: left;
}

.xiangou {
  height: 377px;
}

.jishi ~ li {
  width: 432px;
  height: 187px;
}

.dian {
  font-size: 28px;
  text-align: center;
  margin-top: 65px;
}

.jishi {
  text-align: center;
}

.shuxian {
  width: 20px;
  height: 2px;
  margin: 20px auto;
  background-color: #615548;
}

.shuxian ~ p {
  font-size: 20px;
  margin-bottom: 20px;
}

.shuxian ~ div {
  display: inline-block;
  background-color: #615548;
  text-align: center;
  line-height: 40px;
  color: #fff;
  width: 40px;
  height: 40px;
}

#cakan {
  margin-top: 60px;
  font-size: 12px;
  width: 110px;
  height: 30px;
  line-height: 30px;
  background-color: #a7936e;
  border-radius: 10px;
}

.eqtow {
  border-top: 1px solid #f0ece4;
  border-bottom: 1px solid #f0ece4;
}

.eqthree {
  border: 1px solid #f0ece4;
}

.img-bos {
  margin-top: 3px;
  margin-left: 2px;
  width: 180px;
  height: 180px;
  float: left;
  overflow: hidden;
}

.eqfour {
  border-bottom: 1px solid #f0ece4;
  border-right: 1px solid #f0ece4;
}

.eqfovr {
  border-bottom: 1px solid #f0ece4;
  border-right: 1px solid #f0ece4;
}

.img-boa {
  float: left;
  margin-left: 10px;
}

.jindu {
  width: 150px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #ffe5e5;
  display: inline-block;
}

.jindu-a {
  width: 135px;
  height: 10px;
  background-color: #ffe5e5;
}

.jian {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

#x {
  font-size: 14px;
  color: #be4141;
}

#s {
  font-size: 24px;
  color: #be4141;
  font-weight: bold;
}

#g {
  font-size: 14px;
  color: #999;
  margin-left: 5px;
}

#j {
  font-size: 14px;
  color: #999;
}

.hezi {
  height: 30px;
  width: 120px;
  background-color: #be4141;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-top: 20px;
}

.img-bos img:hover {
  transform: scale(1.1);
}

.img-bos img {
  transition: transform 2s;
}

/*end*/
/*福利*/
.fuli {
  margin-top: 60px;
  margin-bottom: 20px;
}

.fuli h3 {
  display: inline-block;
  font-size: 30px;
}

.fuli-shop {
  height: 200px;
}

.fuli span {
  float: right;
  line-height: 40px;
  font-size: 14px;
}

.img-boa h3 {
  margin: 10px 0;
  font-size: 16px;
}

.img-boa p {
  color: #999;
  font-size: 13px;
  margin-bottom: 20px;
}

.fuli a {
  color: #999;
}

.fuli-shop li {
  float: left;
  margin-right: 5px;
}

.fuji-yijia {
  position: relative;
}

.yijia {
  position: absolute;
  left: 22px;
  bottom: 0;
}

/*end*/
/*居家*/
.jujia {
  clear: both;
  margin-top: 60px;
  margin-bottom: 20px;
}

.jujia h3 {
  font-size: 30px;
  display: inline-block;
}

.jujia-lie {
  float: right;
}

.jujia-lie li {
  float: left;
  line-height: 40px;
}

.jujia-lie li::after {
  content: "/";
  margin: 0 8px;
}

.shop-xinxi {
  overflow: hidden;
  margin-top: 20px;
}

.shop-xinxi li {
  float: left;
}

.shop-xinxi li {
  width: 265px;
  position: relative;
  margin-right: 10px;
  text-align: center;
}

.shop-xinxi div {
  background-color: #f4f4f4;
}

.shop-xinxi li:last-child {
  margin-right: 0;
}

.jiashi ~ li::after {
  content: "";
}

.jujia-lie a {
  color: #999;
  font-size: 14px;
}

.shop-xinxi .yashua {
  background-color: #fff;
}

.shop-xinxi .fuzhu {
  background-color: #E36843;
}

.shop-xinxi img:hover {
  transform: scale(1.1);
}

.shop-xinxi img {
  transition: transform 2s;
}

#sexuan {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #a7936e;
  font-size: 12px;
  color: #a7936e;
  line-height: 18px;
  background-color: #f4f0ea;
}

/*end*/
/*甄选家*/
.zhenxuan {
  margin-top: 60px;
  margin-bottom: 40px;
}

.zhenxuan h3 {
  font-size: 30px;
  display: inline-block;
}

.zhenxuan p {
  font-size: 14px;
  color: #999;
  margin: 0 10px;
  display: inline-block;
}

.xuan-box {
  overflow: hidden;
}

.xuan-box li {
  float: left;
}

.xuan-box li:nth-child(2) {
  margin-left: 10px;
  margin-bottom: 6px;
}

.xuan-box li:nth-child(3) {
  margin-left: 10px;
}

/*end*/
/*大家都在说*/
.dajia {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #f4f0ea;
  margin-top: 90px;
  min-width: 1224px;
}

.dajia .zhenxuan {
  margin-top: 60px;
  margin-bottom: 40px;
}

.nav {
  width: 9999px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}

.nav-box {
  overflow: hidden;
}

.nav li {
  position: relative;
  float: left;
  overflow: hidden;
  margin-right: 10px;
}

.leftKey {
  position: absolute;
  top: 270.5px;
  left: 112px;
  z-index: 2;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #b4a078;
}

.rightKey {
  position: absolute;
  top: 270.5px;
  right: 112px;
  z-index: 2;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #b4a078;
}

.clear {
  position: relative;
  top: -15px;
  width: 255px;
  margin: 0 auto;
  background-color: #fff;
}

.dajia img:hover {
  transform: scale(1.1);
}

.dajia img {
  transition: transform 2s;
}

/*end*/
/*底部*/
.dibu {
  min-width: 1090px;
  width: 1090px;
  height: 182px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.dibu-one {
  margin-top: 20px;
  float: left;
  width: 362px;
  height: 162px;
  text-align: center;
}

.dibu-two {
  margin-top: 20px;
  float: left;
  width: 363px;
  height: 162px;
  text-align: center;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}

.dibu-three {
  margin-top: 20px;
  float: left;
  width: 363px;
  height: 162px;
  text-align: center;
}

.dianhua {
  margin-top: 20px;
  font-size: 28px;
}

.dibu-shijian {
  margin: 10px 0 20px;
  font-size: 14px;
}

.yonghu {
  width: 100px;
  height: 28px;
  border: 1px solid #7d7d7d;
  line-height: 28px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.zaixian {
  display: inline-block;
  width: 100px;
  height: 28px;
  border: 1px solid #7d7d7d;
  line-height: 28px;
  font-size: 14px;
  cursor: pointer;
}

.zaixian:hover {
  background-color: #7d7d7d;
  color: #fff;
}

.yonghu:hover {
  background-color: #7d7d7d;
  color: #fff;
}

.wenzhang {
  margin-top: 20px;
  font-size: 14px;
  margin: 20px 30px 10px;
}

.guanzhu {
  text-align: left;
  margin-left: 40px;
}

.guanzhu .iconfont {
  font-size: 40px;
  margin-left: 10px;
  color: #07c193;
}

#weixin {
  color: #3cb034;
}

#xinlang {
  color: #c33c40;
}

.dibu-img {
  margin: 8px 0;
}

.dibu-xiazai {
  font-size: 12px;
  color: #b4a078;
}

.shouhou {
  width: 100%;
  min-width: 1224px;
  clear: both;
  height: 200px;
  background-color: #414141;
}

.shouhou-di {
  width: 1090px;
  height: 100px;
  margin: 0 auto;
}

.anquan {
  padding-top: 20px;
  margin-left: 20px;
}

.anquan .iconfont {
  font-size: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  color: #fff;
}

.shouhou-di li {
  margin-left: 140px;
  margin-top: 20px;
  float: left;
}

.shouhou h3 {
  display: inline-block;
  color: #fff;
}

.shouhou hr {
  width: 1090px;
  background-color: #4f4f4f;
}

.dibu-lianjie {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

.dibu-lianjie a::after {
  content: "|";
  font-weight: bold;
  margin: 0 8px;
  color: #999;
}

.dibu-lianjie a {
  font-size: 14px;
  color: #999;
}

.dibu-lianjie a:last-child::after {
  content: "";
}

.copyright {
  width: 1090px;
  margin: 0 auto;
  text-align: center;
  color: #999;
  font-size: 14px;
}

/*end*/
